body{
    background-color: #fefae0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2c321a;
    font-size: 18px;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
}
h1,h2{
    background-color: #dda15e;
    color: #606c38;
    text-align: center;
}
p{
    text-align: left;
}